<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneyifyapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/coin"
        android:label="@string/main_title"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.expenses.ExpensesActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_sign_in"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.login.SignUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_sing_up"
            android:parentActivityName=".activities.login.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/main_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomizedAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.expenseDetail.ExpenseDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_create_expense"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.expenses.ExpensesActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activities.expenseDetail.ImagePickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_image_picker"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.preferences.PrefActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.expenses.ExpensesActivity"
            android:label="@string/title_activity_pref"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.analytics.FullAnalyticsActivity"
            android:parentActivityName=".activities.expenses.ExpensesActivity"
            android:label="@string/title_activity_analytics" >
        </activity>
        <activity
            android:name=".activities.analytics.MonthAnalytics"
            android:parentActivityName=".activities.expenses.ExpensesActivity"
            android:label="@string/title_analytics_month_overview" >
        </activity>
        <activity
            android:name=".activities.graphs.DashboardActivity"
            android:parentActivityName=".activities.expenses.ExpensesActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
    </application>

</manifest>
